.PageContainer{
    height:500px;
    background: lightskyblue;
  }

  .App {
    text-align: center;
    max-width: 85vw;
    position: relative;
    left: 10%;
    top:50px;
  }

  .segmented{
    border-right: 2px solid #eee;
  }

  .ProgressContainer {
    margin-top: 50px;
  }